/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .header {
        position: relative;
    }

    .header > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar__list {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #fff;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #10375c;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero__content {
        width: 80%;
        margin-top: 50px;
    }

    .hero__heading {
        font-size: 6.2rem;
        text-align: center;
    }

    .hero__desc {
        text-align: center;
    }

    .hero__row {
        justify-content: space-evenly;
    }

    .service__row {
        flex-direction: column;
    }

    .service__list {
        margin-top: 50px;
    }

    .work-item div {
        padding: 28px;
    }

    .feature__inner {
        flex-direction: column-reverse;
    }

    .feature__media {
        margin-top: 50px;
        width: 100%;
    }

    .install__inner {
        padding: 0;
    }

    .install__content {
        margin-left: 20px;
    }

    .install__row {
        justify-content: center;
    }

    .news__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .news__heading {
        max-width: 100%;
    }

    .news__control {
        justify-content: center;
    }

    .news__list {
        margin-top: 50px;
        align-self: center;
    }

    .footer__row {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    .footer__copyright {
        margin-top: 50px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .header-action {
        display: none;
    }

    .section-heading {
        font-size: 4.8rem;
    }

    .hero {
        flex-direction: column;
    }

    .hero__heading {
        font-size: 5.3rem;
    }

    .hero__content {
        width: 100%;
        margin-bottom: 50px;
    }

    .hero__phone {
        display: block;
    }

    .hero__row {
        flex-direction: column;
        row-gap: 30px;
    }

    .hero__phone {
        margin-left: 0;
    }

    .hero__images {
        flex-direction: column;
    }

    .hero__img {
        width: 100%;
    }

    .hero__img:last-child {
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }

    .service__desc {
        width: 100%;
    }

    .service-item {
        width: 100%;
    }

    .service__img {
        width: 100%;
    }

    .service__row > div {
        width: 100%;
    }

    .work__desc {
        width: 100%;
    }

    .work__list {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .work-item {
        text-align: center;
    }

    .feature__images {
        padding: 0;
    }

    .feature__img {
        width: 100%;
    }

    .feature__img:last-child {
        position: initial;
        margin-top: 30px;
        width: 100%;
    }

    .member__list {
        grid-template-columns: 1fr 1fr;
    }

    .install__inner {
        flex-direction: column-reverse;
    }

    .install__content {
        width: 100%;
        padding: 70px 20px;
        margin-left: 0;
    }

    .install__img {
        margin-top: 30px;
    }

    .news__list {
        flex-direction: column;
    }

    .appointment__inner {
        padding: 70px 20px;
    }

    .footer__row {
        grid-template-columns: 1fr;
    }

    .footer-form {
        column-gap: 6px;
    }
}
